

<!-- Footer -->
<footer class="footer sec-padding"><div class="container"><div class="row"><div class="col-md-3 col-sm-6">
<div class="footer-widget about-widget">
	<a href="#"><img src="{{ asset('ressources/img/resources/footer-logo.png') }}" alt="Awesome Image"/></a>
	<p>Feel free to get in touch with us to learn more about our organisation.</p>
	<ul class="contact">
		<li>
			<i class="fa fa-map-marker"></i>
			<span>Rabat, Morocco</li>
		</li>
		<li>
			<i class="fa fa-phone"></i>
			<span>+212 667 877 729</span>
		</li>
		<li>
			<i class="fa fa-envelope-o"></i>
			<span>mfd.morocco@gmail.com</span>
		</li>
	</ul>
	<ul class="social">
		<li>
			<a href="https://www.facebook.com/MFFSDMOROCCO">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-twitter"></i>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/mffsdmorocco/">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/channel/UC7--BDWZDdyEm3AmDFRddwA">
				<i class="fa fa-youtube"></i>
			</a>
		</li>
	</ul>
</div></div><div class="col-md-2 col-sm-6">
<div class="footer-widget quick-links">
	<h3 class="title">Pages</h3>
	<ul>
		<li><a href="">About Us</a></li>
		<li><a href="programs.html">Voluntary Apply</a></li>
		<li><a href="events-list">Events</a></li>
		<li><a href="gallery.html">Gallery</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</div></div><div class="col-md-4 col-sm-6">
<div class="footer-widget contact-widget">
	<h3 class="title">Contact Form</h3>
	<form action="#" class="contact-form" id="footer-cf"><input type="text" name="name" placeholder="Full Name"><input type="text" name="email" placeholder="Email Address"><textarea name="message" placeholder="Your Message"></textarea>
		<button type="submit">Send</button>
	</form>
</div></div></div></div></footer>

<section class="footer-bottom">
<div class="container text-center">
<p>2021 Copyright :<a href="#"> MFSSD YOUTH Organisation</a>
</p>
<!-- Developed by Ahmed GUETIB  -->
</div>
</section>



