<main id="g-main">
		<div class="g-container">
			<div class="g-grid">
				<div class="g-block full-width nopaddingall nomarginall">
					<div id="jlnewsticker-4374-particle" class="g-content g-particle">
						<div id="jlnewsticker-4374" class="g-news-ticker">
							<div class="jl-child-width-expand jl-grid-collapse jl-box-shadow-small jl-box-shadow-hover-medium" jl-grid="">

								<div jl-slider="velocity:0.2;autoplay: 1;autoplay-interval:5000;">
									<div class="tm-content jl-panel">
										<div class="jl-position-relative">
											<ul class="jl-slider-items jl-grid jl-grid-divider jl-grid-column-large">
												<li class="tm-item jl-width-1-1" tabindex="-1">
													<a class="jl-link-reset" href="#" target="_self">
														COVID-19 | MFFSD
													</a>
													<span class="jl-label g-array-item-date">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
														Tuesday, Tuesday 20, 2020
													</span>
												</li>
												<li class="tm-item jl-width-1-1" tabindex="-1">
													<a class="jl-link-reset" href="#" target="_self">
														IsoNation against IsoLation
													</a>
													<span class="jl-label g-array-item-date">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
														Wednesday, May 13, 2020
													</span>
												</li>
												<li class="tm-item jl-width-1-1" tabindex="-1">
													<a class="jl-link-reset" href="#" target="_self">
														COVID-19 | Youth Center (Cyprus)
													</a>
													<span class="jl-label g-array-item-date">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
														Wednesday, May 20, 2020
													</span>
												</li>
												<li class="tm-item jl-width-1-1" tabindex="-1">
													<a class="jl-link-reset" href="#" target="_self">
														COVID-19 | Accounts Department
													</a>
													<span class="jl-label g-array-item-date">
														<i class="fa fa-clock-o" aria-hidden="true"></i>
														Thursday, May 21, 2020
													</span>
												</li>
											</ul>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include "nav.html.twig" %}

	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="logo pull-left">
				<a href="index.html">

					<img src="{{ asset('ressources/img/resources/logo.png') }}" alt="Awesome Image"/>
				</a>
			</div>
			<div class="header-right-info pull-right clearfix">
				<div class="single-header-info">
					<div class="icon-box">
						<div class="inner-box">
							<i class="flaticon-interface-2"></i>
						</div>
					</div>
					<div class="content">
						<h3>EMAIL</h3>
						<p>
							<b>
								mfd.morocco@gmail.com</b>
						</p>
					</div>
				</div>
			</div>
			<div class="single-header-info">
				<div class="icon-box">
					<div class="inner-box">
						<i class="flaticon-telephone"></i>
					</div>
				</div>
				<div class="content">
					<h3>Call Now</h3>
					<p>
						<b>+212 667 877 729</b>
					</p>
				</div>
			</div>
			<div class="single-header-info">
				<!-- Modal: donate now Starts -->
				<a class="thm-btn" data-toggle="modal" href="https://www.paypal.com/donate/?hosted_button_id=QXYS5LUGF5JBC" onclick="openWin(this.href);return false">DONATE</a>
			</div>
			<div class="modal fade" id="modal-donate-now" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog style-one" role="document">
					<div class="modal-content">
						<div class="modal-header">


							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">
                            IGNITE Youth Organisation is a non-profit organisation and thus we depend upon the generous gifts and donations from organisations, companies, churches and individuals to continue the work we are doing with young people. We accept both monetary and in-kind gifts and donations. You can send us an email at
                            <strong>give@igniteyouth.co.zw</strong>
                            with details about your gift and donation, and the Program you want to support.
                            <strong>For cash donations</strong>
                            , once you send us an email with the details of the amount you would like to donate, we will send you our bank details. We
are currently still working on our online payment system for donations.
<strong>For in-kind gifts,</strong>
we can always use:- good quality used clothes for babies/children/teenagers/young adults (male and female)</p>
- items of sports equipment (deflated footballs, volleyballs, cricket bats, football shirts)
- toiletries for young women (soap, deodorant, body lotion, sanitary towels, toothbrushes)- items of office stationary (paper, pens, exercise books/notebooks, staplers, computers, chairs, desks)- items of band equipment (mics, cables, speakers, music instruments)
							<strong>Thank you very much! We look forward to receiving your email! Your gift
							</strong>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>


<!-- mainmenu-area -->
{% include "menu.html.twig" %}
<!-- /.mainmenu-area -->