<!-- mainmenu-area -->
<nav class="mainmenu-area stricky">
	<div class="container">
		<div class="navigation pull-left">
			<div class="nav-header">
				<ul>
					<li class="dropdown">
						<a href="/">Home</a>
						<ul class="submenu">
							<li></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="">Mobilities</a>
						<ul class="submenu">
							<li class="dropdown2">
								<a href="">Project</a>
								<ul class="submenu-2">
									<li>
										<a href="currentprojects">Current</a>
									</li>
									<li>
										<a href="">Completed</a>
									</li>
									<li></li>
								</ul>
							</li>
							<li>
								<a href="">Voluntary Projects</a>
								<ul class="submenu-2">
									<li>
										<a href="">Active Projects</a>
									</li>
									<li>
										<a href="">Completed Projects</a>
									</li>
									<li>
										<a href="voluntaryapply">Apply</a>
									</li>
									<li></li>
								</ul>
							</li>
							<li></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="programs">Network</a>
						<ul class="submenu">
							<li>
								<a href="#">become a partner Organisation</a>
							</li>
							<li>
								<a href="">Have a Project Proposal for us?</a>
							</li>
							<li>
								<a href="">Subsidaires</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="events-list">Areas of Interest</a>
						<ul class="submenu">
							<li class="dropdown">
								<a href="">Youth</a>
								<ul class="submenu">
									<li>
										<a href="">Entreprenariat</a>
									</li>
									<li></li>
									<li></li>
								</ul>
							</li>
							<li></li>
							<li></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="https://www.paypal.com/donate/?hosted_button_id=QXYS5LUGF5JBC">DONATE</a>
						<ul class="submenu">
							<li></li>
							<li></li>
						</ul>
					</li>

					<li>
						<a href="contact">Contact</a>
					</li>
                    <li>
							<a href="/admin">Participants</a>
						</li>
						<li>
							<a href="edite">Edit Content</a>
						</li>
						<li>
							<a href="/logout">
								<u>logout</u>
							</a>
						</li>
				</ul>
			</li>
		</div>
		<div class="nav-footer">
			<button>
				<i class="fa fa-bars"></i>
			</button>
		</div>
	</div>
</div></nav><!-- /.mainmenu-area -->
